
*****************************************************************
*            This Server is configured by Ansible.              *
*                                                               *
* {{ "%-15s" | format("Hostname:",) }} {{ "%-45s" | format(ansible_fqdn,) }} *
* {{ "%-15s" | format("Asset Name:",) }} {{ "%-45s" | format(asset_name,) }} *
* {{ "%-15s" | format("Asset Tag:",) }} {{ "%-45s" | format(asset_tag,) }} *
*                                                               *
*****************************************************************
